# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.mhome/
.menv/
*.env

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media & static
/media/
staticfiles/
*.png
*.jpg
*.jpeg
*.gif
*.bmp

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
